// $font-primary: (
// 	font-family: (Apercu, serif),
// 	load: true,
// 	weights: (
// 		'Regular': 400,
// 		'Medium': 500,
// 		'Bold': 600
// 	),
// 	font-weights: true,
// 	path: '~assets/fonts',
// 	files: (
// 		'woff',
// 		'woff2',
// 		'ttf'
// 	),
// 	use: (
// 		'h1',
// 		'p',
// 		'body'
// 	),
// 	types: (
// 		'normal',
// 		'italic'
// 	)
// );
